* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #191a1b;
    display: flex;
    justify-content: center;
}
.main-container {
    /* background-color: #1e1e1f; */
    color: #c3ceda;
    padding: 2rem;
    width: 1200px;
}
.weather-img {
    width: 50px;
    height: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    /* border-radius: 1; */
}

.date {
    font-size: 1.5em;
}
.search-input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 2.5rem;

    background-color: #292a2c;
    color: white;
}
.search-input {
    border-radius: 2.5rem;
    height: 100%;
    padding: 0.5rem;
    font-size: 1em;
    /* background-color: #1e1e1f; */
    background-color: #292a2c;
    color: white;
    border: none;
}
.search-input:focus {
    outline: none;
}

.search-btn {
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 0 2.5rem 2.5rem 0;
    height: 100%;
    border: none;
    background-color: #fff;
    color: #111111;
    transition: 250ms;
}
.search-btn:hover {
    background-color: #66b6d3;
    cursor: pointer;
    transform: scale(1.1);
}
.temp-change-div {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 2.5rem;
    width: 80px;
    background-color: #292a2c;
    color: white;
}
.celsius-temp {
    color: white;
}
.fare-temp {
    color: white;
}

.temp-change-div a {
    font-size: 1em;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.temp-selected {
    background-color: #66b6d3;
    color: black;
    border-radius: 2.5rem;
}

/* ============= main body =============== */

.city-info {
    width: 100%;
    /* width: max-content; */
    font-size: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 2rem 2rem 1.5rem 1.5rem;
    background-color: #292a2c;
}
.city-temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* border: 1px solid black; */
    height: 100px;
}
.city-temp h2 {
    font-size: 2em;
    margin-bottom: 0.5rem;
}
.city-temp p {
    font-size: 1.5;
}
.hourly-temp-cards {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* white-space: nowrap; */
    justify-content: baseline;
    font-size: 1em;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
}
.hourly-temp-cards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.hourly-temp-cards::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 0 0 2rem 2rem;
}

.hourly-temp-cards::-webkit-scrollbar-thumb {
    background-color: #292a2c;
    border-radius: 0 0 2rem 2rem;
}
.hourly-temp-cards::-webkit-scrollbar-thumb:hover {
    background-color: #192a30;
    cursor: pointer;
}

.hourly-card {
    flex: 0 0 auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: black;
    background-color: #fff;
    background-color: #66b6d3;
    width: 120px;
}

/* =============== forecast info =======*/

.forecast-info {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid black; */
    border: 1px solid black;
    border-radius: 2rem;
    background-color: #292a2c;
}
.forecast-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.forecast-header h1 {
    font-size: 2em;
}

.forecast-header p {
    border: 1px solid black;
    padding: 0.8rem 1rem;
    border-radius: 2.5rem;
    text-align: center;
    font-size: 1.1em;
    color: white;
    background-color: #191a1b;
}

.forecast-cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* flex-direction: column; */
}
.forecast-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 0.5rem;
}

/* media query */
@media (max-width: 1200px) {
    .main-container {
        width: 100%;
    }
    .hourly-temp-cards {
    }
}
